<span class="bg-secondary">管理者ログイン</span>

<%= form_with model: @admin, url: new_admin_session_path do |f| %>
  <div class="field text-center">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field text-center">
    <%= f.label :パスワード %>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions text-center">
    <%= f.submit "ログイン",class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "admin/shared/links" %>
