<div class="container">
  <div class="row">
    <span class="bg-secondary col-9">管理者ログイン</span>
</br></br>
    <%= form_with model: @admin, url: new_admin_session_path do |f| %>
      </br></br><div class="field text-center col-lg-12">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field text-center col-lg-12">
        <%= f.label :パスワード %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>

      <div class="actions text-center col-lg-12">
        <%= f.submit "ログイン",class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "admin/shared/links" %>

  </div>
</div>
