</br>
<div class="container">
  <div class="row">
    <table  class="table table-sm col-2">
      <thead>
        <tr class="p-3">
          <th>ジャンル検索</th>
        </tr>
        <tr class="p-3">
          <td>ケーキ</td>
        </tr>
        <tr class="p-3">
          <td>焼き菓子</td>
        </tr>
        <tr class="p-3">
          <td>プリン</td>
        </tr>
        <tr class="p-3">
          <td>キャンディ</td>
        </tr>
        <tr class="p-3">
          <td></td>
        </tr>
        <tr class="p-3">
          <td></td>
        </tr>
        <tr>
          <td></td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
    <h3 class="col-10 d-flex align-items-center justify-content-center">
      ようこそ、ながのCAKEへ！</br>
      このサイトは、ケーキ販売のECサイトになります。</br>
      会員でない方も商品の閲覧はできますが、</br>
      購入には会員登録が必要になります。
    </h3>
  </div>
</div>
<div class="container">
  <div class="row">
    <strong class="p-2 mb-3 display-4">
      新着商品
    </strong></br></br>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @item.each do |item| %>
    <table class="table table-borderless col-3">
      <thead></thead>
      <tbody>
        <tr>
          <td></br>
            <% if item.image.attached? %>
              <%= image_tag item.image, size: "100x100" %>
            <% else %>
              <%= image_tag 'no_image', size: "100x100" %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>
            <%= item.name %>
          </th>
        </tr>
        <tr>
          <th>
            ￥<%= item.price %>
          </th>
        </tr>
      </tbody>
    </table>
    <% end %>
    <div class="d-flex align-items-end">
        <%= link_to "全ての商品を見る　>", public_items_path %>
    </div>

  </div>
</div>
