</br>
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <table  class="table table-bordered">
        <thead class="table table-borderless">
          <tr class="p-3">
            <th>ジャンル検索</th>
          </tr>
          <tr class="p-3">
            <td>ケーキ</td>
          </tr>
          <tr class="p-3">
            <td>焼き菓子</td>
          </tr>
          <tr class="p-3">
            <td>プリン</td>
          </tr>
          <tr class="p-3">
            <td>キャンディ</td>
          </tr>
          <tr class="p-5">
            <td></td>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>

    <div class="col-md-8 offset-md-1">
      </br></br><h3 class="d-flex align-items-center justify-content-center">
        ようこそ、ながのCAKEへ！</br>
        このサイトは、ケーキ販売のECサイトになります。</br>
        会員でない方も商品の閲覧はできますが、</br>
        購入には会員登録が必要になります。
      </h3>
    </div>

    <div class="col-md-8 offset-md-1">
      <h2 class="font-weight-bold">
        新着商品
      </h2>
        </br></br>
    </div>
  </div>
</div>
<div class="contianer">
  <div class="row">
    <% @item.each do |item| %>
      <div class="col-md-2 ml-auto offset-md-2">
         <table class="table table-borderless table-sm">
          <thead></thead>
          <tbody>
            <tr>
              <td></br>
                <% if item.image.attached? %>
                  <%= link_to public_item_path(item.id) do %>
                  <%= image_tag item.image, size: "100x100" %>
                  <% end %>
                <% else %>
                  <%= link_to public_item_path(item.id) do %>
                  <%= image_tag 'no_image', size: "100x100" %>
                  <% end %>
                <% end %>
              </td>
            </tr>
            <tr>
              <th>
                <%= item.name %>
              </th>
            </tr>
            <tr>
              <th>
                ￥<%= item.price %>
              </th>
            </tr>
          </tbody>
        </table></br></br>
      </div>
    <% end %>
      <div class="d-flex align-items-end p-5">
          <%= link_to "全ての商品を見る　>", public_items_path %>
      </div>
  </div>
</div>
